/* Work Fonts */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared */
.display-flex { 
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.text-orange-bold {
    color: #FF900E;
    font-weight: bold;
}

.text-black-bold {
    color: black;
    font-weight: bold;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.orange-button {
    color: #FFFFFF;
    background-color: #FF900E;

    border: none;
    border-radius: 8px;
    padding: 20px 25px;

    font-weight: 600;
    font-size: 1.25rem;
}

/* Header */
/* Navbar */
.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: 2.8rem;
}

.nav-links {
    gap: 30px;
}

.nav-item {
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.nav-bar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner */
.banner-content {
    max-width: 850px;
    margin: 0 auto;

    text-align: center;

    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-img {
    width: 100%;
}

/* Main */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.quick-features {
    justify-content: space-around;
    align-items: center;
    gap: 75px;
    margin: 130px 0px;
    padding: 0px 60px;
}

.quick-features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.quick-features-title {
    font-size: 2.8rem;
}

/* Features */
.features {
    gap: 54px;
}


/* Facts */
.some-facts {
    gap: 120px;
    justify-content: space-between;
    margin: 130px;
}

.fact-box {
    gap: 120px;
    padding: 50px;
}

.fact {
    border: 1px #FF900E solid;
    border-radius: 8px;
    padding: 45px 35px;
    text-align: center;
    width: 100%;
}

/* Responsive */
/* Small Device */
@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-link,
    .quick-features {
        flex-direction: column;
    }

    .quick-features-img {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .quick-features {
        flex-direction: column;
    }

    .fact-box {
        flex-direction: column;
    }
}